#img_cucina{
position:center;
width:860px;
height:200px;
}

.fotopronto{
border: 0px;
text-align: center;
width:100px;
height:80px;
position: center;

}

.pronto{
border: 0px;
text-align: center;
width:120px;
height:100px;
position: center;

}










