#scelta{
width: 900px;  
height: 563px;
background: url(../images/content.gif)no-repeat;
margin: 0 auto; 
border: 1px solid #000000;
text-align: left; 
}
a{
color: #3A040D;
text-decoration: none;
}
a:hover{
color: #FF6600 ;
}
#lista{
float: left; 
width: 165px; 
padding: 5px 5px 5px 5px; 
font-size:14px; 
}
#piatti { 
position: absolute; left:400px; top: 20px; right:550px;
margin: 0 px; 
padding: 0px; 
width:304 px;
height:563 px;
}
#h2{
color: #3A040D;
}
.piatto_img{
height: 90px;
width: 152px;
}
.piatto_img2{
height: 200px;
width: 310px;
}
#dettaglio{
position:absolute; left: 757px; top: 20px; right:210px;
height:750 px;
width: 100 px;
border: 1px solid #000000;
text-align: center;
}
#comanda_tav{
position: absolute; left: 550px; bottom: 90px;
}
#tuo_ordine{
width: 900px;  
height: 563px;
border: 1px solid #000000;
position: absolute; left: 300px; top: 20px; right: 300px;
}
.img_tav{
position: absolute;
}
#titolo{
width: 100px;
height: 80px;
position: absolute; left: 500px; top: 5px;
text-align: center;
}
.robot_img{
width: 200px;
height: 200px;
}
#robot{
position: absolute; top: 20px; right: 800px;
}
#chiudo{
position: absolute; bottom: 250px; left: 870px;
}
.invia{
 width: 138px;
 height: 58px;
}
#indietro{
position: absolute; bottom: 60px; left: 230px;
}
#comanda_tav{
position: absolute; bottom: 90px; left: 570px;
}
.comanda{
position:absolute; top: 80px; left: 350px;
width: 600px;
height: 450px;
}
.index{
position: absolute; top: 10px; left: 250px;
border: 1px solid;
}



