#scelta{
width: 900px;  
height: 613px;
background: url(../images/content.gif)no-repeat;
margin: 0 auto; 
border: 1px solid #000000;
text-align: left; 
font-family: "Fruitopia";
font-size:20px;
}
.categorie{
}
@font-face {
font-family: "Fruitopia";
font: url(fonts/fruitopia.ttf) format("truetype");
}
a{
color: #ffffff;
text-decoration: none;
}
a:hover{
color: 
}
#lista{
float: left; 
width: 175px; 
padding: 5px 5px 5px 5px; 
font-size:22px; 
text-align: center;
}
#piatti { 
position: absolute; left:400px; top: 20px; right:550px;
margin: 0 px; 
padding: 0px; 
width:304 px;
height:563 px;
}
h2{
color: #3A040D;
background: url(../images/button_up1.gif)no-repeat;width:200px; height: 40px;
padding-top: 5px;
}
h2:active{
background: url(../images/button_down1.gif)no-repeat;
}
h2.attuale{
background: url(../images/button_down1.gif)no-repeat;
}
.piatto_img{
height: 90px;
width: 152px;
padding: 0px;
}
.piatto_img2{
height: 200px;
width: 294px;
}
li{
font-size: 22px;}
#dettaglio{
position:absolute; left: 757px; top: 20px; right:210px;
height:750 px;
width: 100 px;
border: 1px solid #000000;
text-align: center;
}
#comanda_tav{
position: absolute; left: 550px; bottom: 90px;
}
#tuo_ordine{
width: 900px;  
height: 563px;
border: 1px solid #000000;
position: absolute; left: 300px; top: 20px; right: 300px;
}
.img_tav{
position: absolute;
}
#titolo{
width: 100px;
height: 80px;
position: absolute; left: 500px; top: 10px;
text-align: center;
}
.robot_img{
width: 200px;
height: 200px;
}
#robot{
position: absolute; top: 20px; right: 800px;
}
#chiudo{
position: absolute; bottom: 330px; left: 870px;
}
.invia{
 width: 138px;
 height: 58px;
}
#indietro{
position: absolute; bottom: 35px; left: 180px;
}
#comanda_tav{
position: absolute; bottom: -8px; left: 570px;
}
.ordina_comanda{
width: 70px;
height: 70px;
}
.comanda{
position:absolute; top: 100px; left: 340px;
width: 620px;
height: 500px;
}
.index{
position: absolute; top: 10px; left: 250px;
border: 1px solid;
}
#cibi_scelti{
position:absolute; top: 150px; left: 475px;
width: 350px;
height: 350px;
text-align: center;
}
.ordina{
position: absolute; top: 300px; right: 35px;
}
h5{
margin: 0px 0px 5px 30px;
text-align:left;
font-size: 20px;
}
.aggiunto{
font-size: 26px;
color: #3A040D;
font-family: "Fruitopia";
}
#stato_ordine{
width: 900px;  
height: 600px;
background: url(../images/content.gif)no-repeat;
margin: 0 auto;
font-size: 22px;
font-family: "Fruitopia";
}
#colonna1{
width:350px;
height: 80px;
position: absolute; top: 20px; left: 150px;
font-size: 25px;
}
#colonna2{
width:350px;
height: 80px;
position: absolute; top: 100px; left: 450px;
}
#colonna3{
width:350px;
height: 80px;
position: absolute; top: 20px; right: 110px;
}
table{
position: absolute; top: 180px;
}
li{
text-align: left;
}
.pentole{
position: absolute; top: 20px; right: 540px;
}


